<a href="https://colab.research.google.com/github/ScottMcLean98/Project4-Team5/blob/main/No_show_model_T.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [61]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf

In [62]:
!pip install keras-tuner

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: keras-tuner in /usr/local/lib/python3.10/dist-packages (1.3.5)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (23.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.27.1)
Requirement already satisfied: kt-legacy in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (1.0.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.4)

In [63]:
# Import the kerastuner library
import keras_tuner as kt

In [64]:
file_path = "https://raw.githubusercontent.com/ScottMcLean98/Project4-Team5/main/Resources/no_show_data.csv"
file_info = pd.read_csv(file_path)

In [65]:
first_df = pd.DataFrame(file_info)
first_df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589980e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262960e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679510e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841190e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [66]:
first_df.columns

Index(['PatientId', 'AppointmentID', 'Gender', 'ScheduledDay',
       'AppointmentDay', 'Age', 'Neighbourhood', 'Scholarship', 'Hipertension',
       'Diabetes', 'Alcoholism', 'Handcap', 'SMS_received', 'No-show'],
      dtype='object')

In [67]:
first_df = first_df.rename(columns={'PatientId':'PatientID', 'Neighbourhood':'Neighborhood', 'Hipertension':'Hypertension', 'Handcap':'Handicap', 'No-show': 'No_show'})
first_df.head()

,PatientID,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighborhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,No_show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589980e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262960e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679510e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841190e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [68]:
cleaned_df = first_df.drop(columns={'PatientID', 'AppointmentID', 'ScheduledDay', 'AppointmentDay', 'Neighborhood'})
cleaned_df.head()

,Gender,Age,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,No_show
0,F,62,0,1,0,0,0,0,No
1,M,56,0,0,0,0,0,0,No
2,F,62,0,0,0,0,0,0,No
3,F,8,0,0,0,0,0,0,No
4,F,56,0,1,1,0,0,0,No

In [69]:
cleaned_df.dtypes

Gender          object
Age              int64
Scholarship      int64
Hypertension     int64
Diabetes         int64
Alcoholism       int64
Handicap         int64
SMS_received     int64
No_show         object
dtype: object

In [70]:
No_show_count = cleaned_df['No_show'].value_counts()
No_show_count

No     88208
Yes    22319
Name: No_show, dtype: int64

In [71]:
def No_show(No_show):
    """
    This function encodes No_show status by setting Yes as 1 and no as 0.
    """
    if No_show == "Yes":
        return 1
    else:
        return 0

# Call the encode_marriage function on the marriage column
cleaned_df["No_show"] = cleaned_df["No_show"].apply(No_show)

# Review the DataFrame 
cleaned_df.head()

,Gender,Age,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,No_show
0,F,62,0,1,0,0,0,0,0
1,M,56,0,0,0,0,0,0,0
2,F,62,0,0,0,0,0,0,0
3,F,8,0,0,0,0,0,0,0
4,F,56,0,1,1,0,0,0,0

In [72]:
No_show_count_2 = cleaned_df['No_show'].value_counts()
No_show_count_2

0    88208
1    22319
Name: No_show, dtype: int64

In [73]:
cleaned_df.dtypes

Gender          object
Age              int64
Scholarship      int64
Hypertension     int64
Diabetes         int64
Alcoholism       int64
Handicap         int64
SMS_received     int64
No_show          int64
dtype: object

In [74]:
gender_dummies = pd.get_dummies(cleaned_df['Gender'])
gender_dummies.head()

   F  M
0  1  0
1  0  1
2  1  0
3  1  0
4  1  0

In [75]:
transformed_df = pd.concat([cleaned_df, gender_dummies], axis=1)
transformed_df = transformed_df.drop(columns = 'Gender')
transformed_df.head()

,Age,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,No_show,F,M
0,62,0,1,0,0,0,0,0,1,0
1,56,0,0,0,0,0,0,0,0,1
2,62,0,0,0,0,0,0,0,1,0
3,8,0,0,0,0,0,0,0,1,0
4,56,0,1,1,0,0,0,0,1,0

In [76]:
transformed_df.to_csv("No_show_transformed.csv", index=False, header=True)

In [59]:
# Split our preprocessed data into our features and target arrays
X = transformed_df.drop('No_show', axis=1).values
y = transformed_df['No_show'].values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [60]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [19]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value= 10,
        step=5), activation=activation, input_dim=X_train_scaled.shape[1]))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 5)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=10,
            step=5),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [20]:
tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

In [21]:
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 60 Complete [00h 02m 23s]
val_accuracy: 0.7980602383613586

Best val_accuracy So Far: 0.798132598400116
Total elapsed time: 01h 04m 33s

In [22]:
top_hyper = tuner.get_best_hyperparameters()[0]
top_hyper.values

{'activation': 'tanh',
 'first_units': 6,
 'num_layers': 1,
 'units_0': 1,
 'units_1': 6,
 'units_2': 1,
 'units_3': 6,
 'units_4': 6,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 7,
 'tuner/bracket': 1,
 'tuner/round': 1,
 'tuner/trial_id': '0049'}

In [23]:
best_model = tuner.get_best_models()[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

864/864 - 1s - loss: 0.4930 - accuracy: 0.7981 - 1s/epoch - 1ms/step
Loss: 0.4929793179035187, Accuracy: 0.798132598400116

In [24]:
best_model.save('No_show_model_T.h5')